:root {
  --default-button: #1976d2;
  --default-button-hover: #1564b3;
  --primary-button: #443d70;
  --primary-button-hover: #282441;
  --secondary-button: #ff0099;
  --secondary-button-hover: #d3007f;
  --success-button: #28a745;
  --success-button-hover: #1d7932;
  --warning-button-hover: #d39e00;
  --warning-button: #ffc107;
  --danger-button: #dc3545;
  --danger-button-hover: #a52734;
  --info-button: #17a2b8;
  --info-button-hover: #117888;
  --light-button: #f8f9fa;
  --light-button-hover: #e7e7e7;
  --dark-button: #343a40;
  --dark-button-hover: #131518;
}

.ar-button-sm {
  height: 32px;
  width: fit-content;

  font-size: 13px;
  padding: 3px 9px;
}
.ar-button-md {
  height: 36px;
  width: fit-content;

  font-size: 14px;
  padding: 5px 15px;
}
.ar-button-lg {
  height: 43px;
  width: fit-content;
  font-size: 15px;
  padding: 7px 21px;
}

.ar-button-square {
  border-radius: 6px !important;
}
/* Floating Action Button */
/* .ar-fab.ar-fab-standard {
  border-radius: 100%;
  display: flex;
  font-size: 1.5rem;
  height: 1em;
  width: 1em;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--default-button);
  box-shadow: 0 0 6px var(--default-button-hover);
}

.ar-fab.ar-fab-standard:hover {
  background-color: var(--default-button-hover);
}

.ar-fab.ar-fab-standard:focus {
  transition-property: rgba(25, 118, 210, 0.9);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0.2s;
}

.ar-fab.ar-fab-extended {
  border-radius: 32px;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--default-button);
  box-shadow: 0 0 6px var(--default-button-hover);
}

.ar-fab.ar-fab-extended:hover {
  background-color: var(--default-button-hover);
}

.ar-fab.ar-fab-extended:focus {
  transition-property: rgba(25, 118, 210, 0.9);
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  transition-delay: 0.2s;
} */

.ar-button {
  border-radius: 16px;
  color: white;
  background-color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: none;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.ar-button:hover {
  transition: 0.2s;
}

.ar-button:focus {
  outline: none;
}

/* Default Filled Button */

.ar-button-default.ar-button-filled {
  background-color: var(--default-button);
}
.ar-button-default.ar-button-filled:hover {
  background-color: var(--default-button-hover);
}
.ar-button-default.ar-button-filled:focus {
  box-shadow: 0 0 6px var(--default-button-hover);
}

/* Primary Filled Button */

.ar-button-primary.ar-button-filled {
  background-color: var(--primary-button);
}
.ar-button-primary.ar-button-filled:hover {
  background-color: var(--primary-button-hover);
}

.ar-button-primary.ar-button-filled:focus {
  box-shadow: 0 0 6px var(--primary-button-hover);
}

/* Secondary Filled Button */
.ar-button-secondary.ar-button-filled {
  background-color: var(--secondary-button);
}

.ar-button-secondary.ar-button-filled:hover {
  background-color: var(--secondary-button-hover);
}

.ar-button-secondary.ar-button-filled:focus {
  box-shadow: 0 0 6px var(--secondary-button-hover);
}

/* Success Filled Button */

.ar-button-success.ar-button-filled {
  background-color: var(--success-button);
}

.ar-button-success.ar-button-filled:hover {
  background-color: var(--success-button-hover);
}

.ar-button-success.ar-button-filled:focus {
  box-shadow: 0 0 6px var(--success-button-hover);
}

/* Danger Filled button */

.ar-button-danger.ar-button-filled {
  background-color: var(--danger-button);
}

.ar-button-danger.ar-button-filled:hover {
  background-color: var(--danger-button-hover);
}

.ar-button-danger.ar-button-filled:focus {
  box-shadow: 0 0 6px var(--danger-button-hover);
}

/* Warning Filled Button*/
.ar-button-warning.ar-button-filled {
  background-color: var(--warning-button);
}

.ar-button-warning.ar-button-filled:hover {
  background-color: var(--warning-button-hover);
}

.ar-button-warning.ar-button-filled:focus {
  box-shadow: 0 0 6px var(--warning-button-hover);
}

/* Info Filled Button  */

.ar-button-info.ar-button-filled {
  background-color: var(--info-button);
}

.ar-button-info.ar-button-filled:hover {
  background-color: var(--info-button-hover);
}

.ar-button-info.ar-button-filled:focus {
  box-shadow: 0 0 6px var(--info-button-hover);
}

/* Light Filled Button  */

.ar-button-light.ar-button-filled {
  background-color: var(--light-button);
  color: black;
}

.ar-button-light.ar-button-filled:hover {
  background-color: var(--light-button-hover);
}

.ar-button-light.ar-button-filled:focus {
  box-shadow: 0 0 6px var(--light-button-hover);
}

/* Dark Filled Button  */

.ar-button-dark.ar-button-filled {
  background-color: var(--dark-button);
}

.ar-button-dark.ar-button-filled:hover {
  background-color: var(--dark-button-hover);
}

.ar-button-dark.ar-button-filled:focus {
  box-shadow: 0 0 6px var(--dark-button-hover);
}

/* Outlined Buttons */

/* default outlined button */

.ar-button-default.ar-button-outlined {
  color: var(--default-button);
  border: solid 1px var(--default-button);
}

.ar-button-default.ar-button-outlined:hover {
  background-color: var(--default-button);
  color: white;
}

.ar-button-default.ar-button-outlined:focus {
  box-shadow: 0 0 6px var(--primary-button-hover);
}
/* primary outlined button */

.ar-button-primary.ar-button-outlined {
  color: var(--primary-button);
  border: solid 1px var(--primary-button);
}

.ar-button-primary.ar-button-outlined:hover {
  background-color: var(--primary-button);
  color: white;
}

.ar-button-primary.ar-button-outlined:focus {
  box-shadow: 0 0 6px var(--primary-button-hover);
}

/* secondary outlined button */

.ar-button-secondary.ar-button-outlined {
  color: var(--secondary-button);
  border: solid 1px var(--secondary-button);
}

.ar-button-secondary.ar-button-outlined:hover {
  background-color: var(--secondary-button);
  color: white;
}

.ar-button-secondary.ar-button-outlined:focus {
  box-shadow: 0 0 6px var(--secondary-button-hover);
}
/* success outlined button */

.ar-button-success.ar-button-outlined {
  color: var(--success-button);
  border: solid 1px var(--success-button);
}

.ar-button-success.ar-button-outlined:hover {
  background-color: var(--success-button);
  color: white;
}

.ar-button-success.ar-button-outlined:focus {
  box-shadow: 0 0 6px var(--success-button-hover);
}
/* danger outlined button */

.ar-button-danger.ar-button-outlined {
  color: var(--danger-button);
  border: solid 1px var(--danger-button);
}

.ar-button-danger.ar-button-outlined:hover {
  background-color: var(--danger-button);
  color: white;
}

.ar-button-danger.ar-button-outlined:focus {
  box-shadow: 0 0 6px var(--danger-button-hover);
}
/* warning outlined button */

.ar-button-warning.ar-button-outlined {
  color: var(--warning-button);
  border: solid 1px var(--warning-button);
}

.ar-button-warning.ar-button-outlined:hover {
  background-color: var(--warning-button);
  color: white;
}
/* info outlined button */

.ar-button-info.ar-button-outlined:focus {
  box-shadow: 0 0 6px var(--info-button-hover);
}

.ar-button-info.ar-button-outlined {
  color: var(--info-button);
  border: solid 1px var(--info-button);
}

.ar-button-info.ar-button-outlined:hover {
  background-color: var(--info-button);
  color: white;
}

/* light outlined button */

.ar-button-light.ar-button-outlined {
  color: black;
  border: solid 1px black;
}

.ar-button-light.ar-button-outlined:hover {
  background-color: var(--light-button-hover);
  color: black;
}

.ar-button-light.ar-button-outlined:focus {
  box-shadow: 0 0 6px var(--light-button-hover);
}

/* dark outlined button */

.ar-button-dark.ar-button-outlined {
  color: var(--dark-button);
  border: solid 1px var(--dark-button);
}

.ar-button-dark.ar-button-outlined:hover {
  background-color: var(--dark-button);
  color: white;
}

.ar-button-dark.ar-button-outlined:focus {
  box-shadow: 0 0 6px var(--dark-button-hover);
}
